# Python bytecode
__pycache__/
*.py[cod]

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Virtual environment
.venv/
env/
venv/

# PyCharm IDE files
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Python test caches
.pytest_cache/
.coverage
htmlcov/

# Robot Framework
.robotframework-ls/

# Node modules (если есть, судя по твоему)
node_modules/

# Screen Recorder
.Icecream\ Screen\ Recorder/

tests/cookies.json