# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual env
.venv/
env/
venv/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
*.swp
*.swo

# Windows
*.lnk
*.bak
*.tmp
*.log
*.regtrans-ms
*.blf
*.dat
AppData/
Desktop/
Documents/
Downloads/
Videos/
Pictures/
Music/
OneDrive/
Contacts/
Saved Games/
3D Objects/
NTUSER.*
node_modules/

# Robot Framework
.robotframework-ls/

# Screen Recorder
.Icecream\ Screen\ Recorder/